.product-details {
  /*Display stuff*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /*Positioning stuff*/
  position: relative;
  left: calc(111.75 / 1440 * 100%);
  /*Box model stuff*/
  width: calc(1191.84 / 1440 * 100%);
  height: 550px;
  margin-bottom: 68px;
  margin-top: 68px;
}

.product-details__image {
  /*Display stuff*/
  display: inline-block;
  /*Box model stuff*/
  width: 550px;
  height: 550px;
}

.product-details__info {
  /*Positioning stuff*/
  position: relative;
  top: 114.63px;
  /*Box model stuff*/
  width: calc(576.84 / 1191.84 * 100%);
  height: 320.73px;
}

.product-details__license {
  /*Box model stuff*/
  margin-bottom: 11px;
  /*Typography stuff*/
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  /*Miscellaneous*/
  line-height: 19.36px;
}

.product-details__name {
  /*Box model stuff*/
  margin-bottom: 15.81px;
  /*Typography stuff*/
  font-family: "Inter", sans-serif;
  font-size: 38px;
  font-weight: 700;
  text-align: left;
  color: #111111;
  /*Miscellaneous*/
  line-height: 45.99px;
}

.product-details__description {
  /*Box model stuff*/
  margin-bottom: 15.81px;
  /*Typography stuff*/
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  color: #333333;
  /*Miscellaneous*/
  line-height: 29.05px;
}

.product-details__price {
  /*Box model stuff*/
  margin-bottom: 27.32px;
  /*Typography stuff*/
  font-family: "Inter", sans-serif;
  font-size: 38px;
  font-weight: 400;
  text-align: left;
  color: #333333;
  /*Miscellaneous*/
  line-height: 45.99px;
}

.product-details__input-wrapper {
  /*Display stuff*/
  display: flex;
  flex-flow: row nowrap;
  /*Box model stuff*/
  width: calc(342.58 / 576.84 * 100%);
  height: 37.91px;
  margin-bottom: 26.88px;
}

.product-details__input {
  /*Display stuff*/
  display: inline-block;
  /*Positioning stuff*/
  position: relative;
  top: 0.44px;
  /*Box model stuff*/
  width: calc(105.47 / 342.58 * 100%);
  height: 35.24px;
  margin-right: calc(8.79 / 342.58 * 100%);
  padding: 0;
  border: 0.5px solid #c9c9c9;
  /*Typography stuff*/
  font-family: "Inter", sans-serif;
  font-size: 19.45px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  /*Miscellaneous*/
  box-sizing: border-box;
  line-height: 45.99px;
}

.product-details__input::placeholder {
  /*Typography stuff*/
  color: #747474;
}

/* Chrome, Safari, Edge, Opera */
.product-details__input::-webkit-outer-spin-button,
.product-details__input::-webkit-inner-spin-button {
  /*Box model stuff*/
  margin: 0;
  /*Miscellaneous*/
  -webkit-appearance: none;
}

/* Firefox */
.product-details__input {
  /*Miscellaneous*/
  -moz-appearance: textfield;
}

.product-details__button-wrapper {
  /*Display stuff*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  /*Positioning stuff*/
  position: relative;
  top: -0.44px;
  /*Box model stuff*/
  width: 18px;
  height: 40px;
  margin-right: calc(29.33 / 342.58 * 100%);
}

.product-details__button--increment,
.product-details__button--decrement {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*Box model stuff*/
  width: 18px;
  height: 16px;
  padding: 0;
  border: none;
  background-color: #4f4f4f;
}

.product-details__button-wrapper:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.product-details__button-wrapper:active {
  cursor: pointer;
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
}

.product-details__button--add-to-cart {
  /*Box model stuff*/
  width: calc(181 / 342.58 * 100%);
  height: 100%;
  padding: 7.95px 0 7.96px;
  border: none;
  background-color: #ff3333;
  /*Typography stuff*/
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  /*Miscellaneous*/
  box-sizing: border-box;
  line-height: 21.78px;
  cursor: pointer;
}

.product-details__button--add-to-cart:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.product-details__button--add-to-cart:active {
  transform: scale(0.95);
  transition: all 0.2s ease-in-out;
}

.product-details__payment-info {
  /*Display stuff*/
  display: block;
  /*Positioning stuff*/
  position: relative;
  left: 0;
  bottom: 0;
  /*Box model stuff*/
  height: 17px;
}

.product-details__payment-link {
  /*Box model stuff*/
  padding: 0;
  border: none;
  background-color: #fff;
  /*Typography stuff*/
  text-decoration: underline;
}

.product-details__payment-link:hover {
  /*Miscellaneous*/
  cursor: pointer;
}

.product-details__payment-link,
.product-details__current-payment-method {
  /*Display stuff*/
  display: inline-block;
  /*Typography stuff*/
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  color: #1d84b5;
  /*Miscellaneous*/
  line-height: 16.94px;
}

.product-details__payment-methods {
  /*Display stuff*/
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 0;
  /*Positioning stuff*/
  position: relative;
  left: 0;
  bottom: 0;
  /*Box model stuff*/
  width: 250px;
  margin-top: 8px;
  border-radius: 25px;
  background-color: #fafaff;
  /*Typography stuff*/
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  color: #333333;
  /*Miscellaneous*/
  line-height: 16.94px;
  box-shadow: 0px 0px 10px 0px #00000040;
}

.hidden {
  /*Display stuff*/
  display: none;
}

.product-details__payment-method-item {
  /*Box model stuff*/
  width: 100%;
  padding: 5px 25px;
  /*Miscellaneous*/
  box-sizing: border-box;
}

.product-details__payment-method-item:hover {
  /*Typography stuff*/
  color: #1d84b5;
  /*Miscellaneous*/
  cursor: pointer;
}

.ItemPage-news {
  /*Display stuff*/
  display: inline-block;
  /*Positioning stuff*/
  position: relative;
  /*Box model stuff*/
  width: 100%;
  margin-bottom: 128px;
}

.ItemPage-news__title {
  /*Display stuff*/
  display: inline-block;
  /*Box model stuff*/
  margin-bottom: 57px;
  margin-left: calc(110 / 1440 * 100%);
  /*Typography stuff*/
  font-family: "Raleway", sans-serif;
  font-size: 46px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  /*Miscellaneous*/
  line-height: 54px;
}

/*Breakpoints:

@media screen and (min-width: 1025px) and  (max-width: 1280px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 480px) {
    
}
*/
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .product-details {
    margin-bottom: 136px;
  }

  .product-details__license {
    font-size: 15px;
  }

  .product-details__name,
  .product-details__price {
    font-size: 37px;
  }

  .product-details__description {
    font-size: 23px;
  }

  .product-details__input-wrapper {
    width: 100%;
  }

  .product-details__input {
    width: 20.7%;
    margin-right: 8.79px;
  }

  .product-details__button-wrapper {
    display: inline-block;
    margin-right: 29.33px;
  }

  .product-details__button--increment {
    margin-bottom: 4px;
  }

  .product-details__button--add-to-cart {
    width: 181px;
  }

  .product-details__payment-methods {
    margin-top: 24px;
  }

  .ItemPage-news__title {
    font-size: 45px;
  }
}

@media screen and (max-width: 1024px) {
  .product-details {
    flex-flow: column nowrap;
    height: auto;
  }

  .product-details__image {
    margin: auto;
  }

  .product-details__info {
    width: 100%;
    height: auto;
    top: 0;
    padding-left: 3.97%;
    box-sizing: border-box;
  }

  .product-details__license {
    font-size: 14px;
  }

  .product-details__name,
  .product-details__price {
    font-size: 36px;
  }

  .product-details__description {
    font-size: 22px;
  }

  .product-details__input-wrapper {
    width: 100%;
  }

  .product-details__input {
    width: 105.47px;
  }

  .product-details__button--add-to-cart {
    width: 181px;
  }

  .ItemPage-news__title {
    font-size: 44px;
    margin-left: 0;
    display: block;
    text-align: center;
  }

  .ItemPage-carousel {
    left: 2%;
    min-width: 720px;
    width: 96%;
  }
}

@media screen and (max-width: 768px) {
  .product-details {
    width: 96%;
    left: 2%;
  }

  .product-details__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .product-details__info {
    width: 100%;
    height: auto;
    top: 0;
    padding-left: 3.97%;
  }

  .product-details__license {
    font-size: 13px;
  }

  .product-details__name,
  .product-details__price {
    font-size: 35px;
  }

  .product-details__description {
    font-size: 21px;
  }

  .product-details__input-wrapper {
    width: 100%;
  }

  .product-details__input {
    width: 105.47px;
  }

  .product-details__button--add-to-cart {
    width: 181px;
  }

  .ItemPage-news__title {
    font-size: 43px;
    margin-left: 0;
    display: block;
    text-align: center;
  }

  .ItemPage-carousel {
    left: 2%;
    min-width: 360px;
    width: 96%;
  }
}

@media screen and (max-width: 480px) {
  .product-details {
    width: 96%;
    left: 2%;
    margin-top: 34px;
  }

  .product-details__image {
    width: 85%;
    height: auto;
    object-fit: cover;
  }

  .product-details__info {
    width: 100%;
    height: auto;
    top: 0;
    padding-left: 3.97%;
  }

  .product-details__license {
    font-size: 12px;
  }

  .product-details__name,
  .product-details__price {
    font-size: 34px;
  }

  .product-details__description {
    font-size: 20px;
  }

  .product-details__input-wrapper {
    width: 100%;
  }

  .product-details__input {
    width: 105.47px;
  }

  .product-details__button--add-to-cart {
    width: 181px;
  }

  .ItemPage-news {
    margin-bottom: 68px;
  }

  .ItemPage-news__title {
    font-size: 42px;
    margin-left: 0;
    display: block;
    text-align: center;
  }

  .ItemPage-carousel {
    left: 2%;
    min-width: 360px;
    width: 96%;
  }
}
