.admin-page {
  width: calc(1126 / 1440 * 100%);
  display: flex;
  flex-flow: column nowrap;
  margin: 36px 0 0 calc(110 / 1440 * 100%);
  box-sizing: border-box;
}

.admin-page__search {
  position: relative;
  height: 44.28px;
  width: calc(590.88 / 1126 * 100%);
  display: flex;
  flex-flow: row nowrap;
}

.admin-page__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
}

.admin-page__input {
  width: calc(529.76 / 590.88 * 100%);
  height: 100%;
  border-radius: 6px;
  border: 2px solid rgba(48, 52, 63, 1);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 10.14px 0 10.14px 23.87px;
  box-sizing: border-box;
}

.admin-page__input::placeholder {
  color: rgba(185, 185, 185, 1);
}

.admin-page__button {
  height: 42px;
  width: 42px;
  background-color: #fff;
  border: none;
}

.admin-page__products {
  width: 100%;
  margin: 36px 0;
}

.admin-page__header {
  height: 52px;
  background-color: #fff;
  margin-bottom: 32.5px;
  padding: 0;
}

.admin-page__header-content {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.admin-page__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  height: 49px;
  margin-top: 1.5px;
}

.admin-page__actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  min-width: 198px;
  width: calc(198 / 1126 * 100%);
}

.admin-page__add-label {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 31, 31, 1);
}

.admin-page__add-button {
  height: 39px;
  width: 39px;
  padding: 6.5px;
  box-sizing: content-box;
  background-color: #fff;
  border: none;
}

.admin-page__table {
  width: calc(1093.77 / 1126 * 100%);
  position: relative;
  left: calc(27.23 / 1126 * 100%);
  display: flex;
  flex-flow: column nowrap;
}

.admin-page__table-header {
  width: calc(1093.77 / 1089.76 * 100%);
  height: 29px;
  margin-bottom: 22.95px;
}

.admin-page__table-header-row {
  height: 29px;
  width: 100%;
  display: grid;
  grid-template-columns:
    calc((26 + 48.04) / 1089 * 100%)
    calc((90 + 117.23) / 1089 * 100%)
    calc((266 + 147.5) / 1089 * 100%)
    calc((124 + 274) / 1089 * 100%);
}

.admin-page__table-header-cell {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(31, 31, 31, 1);
}

.admin-page__table-row {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: auto;
  min-height: 61px;
  width: calc(1086.27 / (1093.77 - 6.5) * 100%);
  margin-left: 6.5px;
  align-items: center;
  margin-bottom: 12px;
}

.admin-page__table-row:last-child {
  margin-bottom: 0;
}

.admin-page__table-row__content {
  width: calc((1086.27 - 108) / 1086.27 * 100%);
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}

.admin-page__table-body-cell {
  height: fit-content;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 254%;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(31, 31, 31, 1);
}

.admin-page__table-body-cell:nth-child(1) {
  width: calc(((13 + 53.54) / (1086.27 - 108)) * 100%);
}

.admin-page__table-body-cell:nth-child(2) {
  width: calc(((147 + 62.17) / (1086.27 - 108)) * 100%);
}

.admin-page__table-body-cell:nth-child(3) {
  width: calc(((236 + 176.75) / (1086.27 - 108)) * 100%);
}

.admin-page__table-body-cell:nth-child(4) {
  text-transform: uppercase;
  line-height: 127%;
  width: calc((240 / (1086.27 - 108)) * 100%);
}

.admin-page__table-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: calc(108 / 1086.27 * 100%);
}

.admin-page__button {
  border: none;
  background-color: #fff;
}

.admin-page__edit-button {
  width: 32px;
  height: 33px;
}

.admin-page__delete-button {
  width: 34px;
  height: 34px;
  cursor: pointer;
}

/*Breakpoints:

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 480px) {
    
}
*/
@media screen and (max-width: 1280px) {
  .admin-page__table-header {
    display: none;
  }

  .admin-page__table-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 16px;
    margin-bottom: 32px;
  }

  .admin-page__table-row:last-child {
    margin-bottom: 0px;
  }

  .admin-page__table-row__content {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
  }

  .admin-page__table-row__content > td:before {
    content: attr(data-label) ": ";
    font-weight: bold;
    margin-right: 40px;
    box-sizing: border-box;
    text-align: left;
  }

  .admin-page__table-body-cell, 
  .admin-page__table-body-cell:nth-child(-n+4) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    text-align: right;
    border-bottom: 2px solid rgba(255, 51, 51, 1);
  }

  .admin-page__table-body-cell:nth-child(4) {
    line-height: 254%;
    border-bottom: none;
  }

  .admin-page__table-actions {
    margin-top: 20px;
    width: 108px;
  }
}

@media screen and (max-width: 1024px) {
  .admin-page__header {
    height: fit-content;
  }

  .admin-page__header-content {
    flex-flow: column nowrap;
    row-gap: 16px;
  }

  .admin-page__actions {
    align-self: flex-end;
    justify-self: flex-end;
  }

  .admin-page__table-row {
    flex-direction: column-reverse;
  }

  .admin-page__table-actions {
    align-self: flex-end;
    justify-self: flex-end;
    margin: 16px 0 24px;
  }

  .admin-page__table-row__content {
    width: 100%;
  }

  /*font size modifications*/

  .admin-page__input {
    font-size: 18px;
  }

  .admin-page__title {
    font-size: 34px;
  }

  .admin-page__add-label, 
  .admin-page__table-body-cell, 
  .admin-page__table-row__content > td:before {
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {

  /*font size modifications*/

  .admin-page__input {
    font-size: 16px;
  }

  .admin-page__title {
    font-size: 30px;
  }

  .admin-page__add-label, 
  .admin-page__table-body-cell, 
  .admin-page__table-row__content > td:before {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .admin-page__table-body-cell {
    display: flex;
    flex-direction: column;
  }

  /*font size modifications*/
  
  .admin-page__input {
    font-size: 15px;
  }

  .admin-page__title {
    font-size: 26px;
  }

  .admin-page__add-label, 
  .admin-page__table-body-cell, 
  .admin-page__table-row__content > td:before {
    font-size: 18px;
  }
}