.title {
  font-family: "Raleway", sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
  border-bottom: 5px solid #ff3333;
  display: inline-block;
  margin-top: 128px;
  margin-left: calc(110 / 1440 * 100%);
  margin-bottom: 60.15px;
}
