.cart__title {
  font-family: "Raleway", sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
  border-bottom: 5px solid #ff3333;
  display: inline-block;
  margin-top: 128px;
  margin-left: calc(110 / 1440 * 100%);
  margin-bottom: 60.15px;
  width: fit-content;
}

.cart__table {
  width: calc(1220 / 1440 * 100%);
  margin-left: calc(110 / 1440 * 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0;
  display: inline-block;
  margin-bottom: 68px;
}

.cart__thead {
  display: inline-block;
  width: 100%;
  height: 51px;
  background-color: #FAFAFF;
  box-shadow: 0px 0px 10px 0px #00000040;
  border-radius: 10px;
}

.cart__row--header {
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: #FAFAFF;
}

.cart__header {
  display: inline-block;
  border-radius: 10px;
  background-color: #FAFAFF;
  padding-top: 16px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  box-sizing: border-box;
}

.cart__header--details {
  width: calc(464.915 / 1220 * 100%);
  padding-left: calc(125.5 / 1220 * 100%);
}

.cart__header--quantity {
  width: calc(345.24 / 1220 * 100%);
  padding-left: calc(148.415 / 1220 * 100%);
}

.cart__header--total {
  width: calc(409.845 / 1220 * 100%);
  padding-left: calc(110.825 / 1220 * 100%);
}

.cart__tbody {
  display: inline-block;
  width: 100%;
}

.summary {
  width: calc(572 / 1440 * 100%);
  position: relative;
  left: calc(758 / 1440 * 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.summary__title {
  border-bottom: 5px solid #FF3333;
  padding-bottom: 8px;
  font-family: "Raleway", sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  margin-left: auto;
  margin-bottom: 34px;
}

.summary__list {
  width: 100%;
  padding: 24px;
  background-color: #FAFAFF;
  box-shadow: 0px 0px 10px 0px #00000040;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 44.3px;
  box-sizing: border-box;
}

.summary__item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.summary__text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.summary__value {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: left;
  text-transform: uppercase;
  color: #747474;
}

.summary__item--total {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-top: 2px solid #FF3333;
  padding-top: 8px;
}

.summary__text--total {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.summary__value--total {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;
  text-transform: uppercase;
  color: #747474;
}

.summary__button {
  background-color: #FF3333;
  border: none;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.73px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 14.83px 0;
  margin-bottom: 128px;
}

/*Breakpoints:

@media screen and (min-width: 1025px) and  (max-width: 1280px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 480px) {
    
}
*/

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .cart__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 112px;
    margin-bottom: 52.15px;
  }
  
  .cart__table {
    margin-bottom: 64px;
  }
  
  .cart__thead {
    height: 49px;
  }
  
  .cart__header {
    padding-top: 14px;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.36px;
  }
  
  .summary__title {
    padding-bottom: 6px;
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 30px;
  }
  
  .summary__list {
    padding: 20px;
    margin-bottom: 40.3px;
    width: 100%;
  }
  
  .summary__item {
    margin-bottom: 18px;
  }
  
  .summary__text {
    font-size: 15px;
    font-weight: 600;
    line-height: 18.36px;
  }
  
  .summary__value {
    font-size: 15px;
    font-weight: 000;
    line-height: 18.36px;
  }
  
  .summary__item--total {
    padding-top: 6px;
  }
  
  .summary__text--total, 
  .summary__value--total {
    font-size: 17px;
    font-weight: 600;
    line-height: 20.2px;
  }
  
  .summary__button {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    line-height: 36.73px;
    padding: 13.83px 0;
    margin-bottom: 112px;
  }
}

@media screen and (max-width: 1024px) {
  .cart__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin-top: 112px;
    margin-bottom: 50.15px;
  }
  
  .cart__table {
    margin-bottom: 62px;
  }
  
  .cart__thead {
    height: 48px;
  }
  
  .cart__header {
    padding-top: 13px;
    font-size: 13px;
    font-weight: 600;
    line-height: 16.36px;
  }
  
  .summary__title {
    padding-bottom: 5px;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 28px;
  }
  
  .summary__list {
    padding: 18px;
    margin-bottom: 38.3px;
    width: 100%;
  }
  
  .summary__item {
    margin-bottom: 17px;
  }
  
  .summary__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.36px;
  }
  
  .summary__value {
    font-size: 14px;
    font-weight: 600;
    line-height: 17.36px;
  }
  
  .summary__item--total {
    padding-top: 5px;
  }
  
  .summary__text--total, 
  .summary__value--total {
    font-size: 16px;
    font-weight: 600;
    line-height: 18.2px;
  }
  
  .summary__button {
    width: 100%;
    font-size: 28px;
    font-weight: 600;
    line-height: 34.73px;
    padding: 12.83px 0;
    margin-bottom: 104px;
  }
}

@media screen and (max-width: 768px) {
  .cart__title {
    font-size: 38px;
    font-weight: 500;
    line-height: 46px;
    margin-top: 96px;
    margin-bottom: 48.15px;
  }
  
  .cart__table {
    margin-bottom: 60px;
  }
  
  .cart__thead {
    height: 46px;
    display: none;
  }
  
  .cart__row--header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .cart__header {
    padding-top: 12px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
  }
  
  .summary__title {
    padding-bottom: 4px;
    font-size: 38px;
    font-weight: 500;
    line-height: 46px;
    margin-bottom: 26px;
  }
  
  .summary__list {
    padding: 17px;
    margin-bottom: 37px;
    width: 100%;
  }
  
  .summary__item {
    margin-bottom: 16px;
    column-gap: 36px;
  }
  
  .summary__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 15.36px;
  }
  
  .summary__value {
    font-size: 14px;
    font-weight: 600;
    line-height: 17.36px;
  }
  
  .summary__item--total {
    padding-top: 4px;
  }
  
  .summary__text--total, 
  .summary__value--total {
    font-size: 15px;
    font-weight: 500;
    line-height: 17.2px;
  }
  
  .summary__button {
    width: 100%;
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;
    padding: 10px 0;
    margin-bottom: 94px;
  }
}

@media screen and (max-width: 480px) {
  .cart__title {
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    margin-top: 88px;
    margin-bottom: 46px;
  }
  
  .cart__table {
    margin-bottom: 58px;
  }
  
  .cart__thead {
    height: 44px;
    display: none;
  }

  .cart__row--header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  
  .cart__header {
    padding-top: 11px;
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
  }

  .summary {
    width: 70%;
    left: 15%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  
  .summary__title {
    padding-bottom: 3px;
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    margin:0 0 24px 0;

  }
  
  .summary__list {
    height: fit-content;
    padding: 16px;
    margin-bottom: 36px;
    width: 100%;
  }
  
  .summary__item {
    margin-bottom: 10px;
    column-gap: 16px;
  }
  
  .summary__text {
    font-size: 13px;
    font-weight: 500;
    line-height: 14px;
  }
  
  .summary__value {
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
  }
  
  .summary__item--total {
    padding-top: 3px;
  }
  
  .summary__text--total, 
  .summary__value--total {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }
  
  .summary__button {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    padding: 9px 0;
    margin-bottom: 88px;
  }
}