.flex-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.catalogue-wrapper {
  
}
/*Breakpoints:

@media screen and (min-width: 1025px) and  (max-width: 1280px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 480px) {
    
}
*/