.shop {
  display: flex;
}

.product-grid {
  background-color: darkkhaki;
  width: calc((2 / 3) * 100%);
  margin: calc(68 / 1440 * 100%) calc(112 / 1440 * 100%) calc(68 / 1440 * 100%)
    calc(14.96 / 1440 * 100%);
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  row-gap: 1%;
  height: auto;
}

.product-grid__item,
.product-grid__card {
  background-color: cadetblue;
  width: 304px;
  height: 512px;
}

/*Breakpoints:

@media screen and (min-width: 1025px) and  (max-width: 1280px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 480px) {
    
}
*/