body {
  overflow: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#root {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}