.form__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0.04em;
  color: rgba(31, 31, 31, 1);
  text-align: right;
  text-transform: uppercase;
  width: fit-content;
  height: fit-content;
  margin: 36px 0 39.58px calc(115.55 / 1440 * 100%);
}

.form {
  width: calc(827.63 / 1440 * 100%);
  height: fit-content;
  margin-left: calc(115.55 / 1440 * 100%);
  position: relative;
  left: 0;
  top: 0;
}

.form__field-group {
  width: 100%;
  height: 44.28px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 36px;
}

.form__field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 29px;
}

.form__label--sku {
  min-width: 59px;
}

.form__field--category {
  width: calc(387.29 / 827.63 * 100%);
  height: 100%;
}

.form__field--license {
  width: calc(387.09 / 827.63 * 100%);
  height: 100%;
}

.form__label--combobox {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.form__label--collection {
  margin-right: 19.25px;
}

.form__label--license {
  margin-right: 37.06px;
}

.form__combobox-wrapper {
  width: calc(243.03 / 387.29 * 100%);
  display: flex;
  height: 100%;
}

.form__select-arrow {
  position: absolute;
  pointer-events: none;
}

.form__label {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  display: inline-block;
  width: fit-content;
  height: fit-content;
  margin-bottom: 0;
}

.form__input {
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgba(255, 51, 51, 1);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-align: left;
  width: fit-content;
  font-size: 18px;
}

.form__input::placeholder {
  color: rgba(185, 185, 185, 1);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-align: left;
}

.form__field--product-name {
  margin-bottom: 36px;
  height: 29px;
  width: fit-content;
  width: calc(581.06 / 827.63 * 100%);
  min-width: 581.06px;
}

.form__input--product-name {
  width: calc(296 / 581.06 * 100%);
  max-width: none;
  height: 27.36px;
}

.form__field--product-name > .form__input:hover {
  background-color: rgba(48, 52, 63, 0.1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.form__field--product-name > .form__input:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(29, 132, 181, 1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.form__textarea {
  width: 100%;
  height: 194.83px;
  border-radius: 4px;
  border: 1px solid rgba(31, 31, 31, 1);
  box-sizing: border-box;
  padding: 11.44px 0 0 13.59px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 35.43px;
}

.form__textarea::placeholder {
  color: rgba(185, 185, 185, 1);
}

.form__textarea:hover {
  background-color: rgba(48, 52, 63, 0.1);
}

.form__textarea:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: 2px solid rgba(29, 132, 181, 1);
  border: none;
}

.form__field-group--bottom {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  column-gap: 24px;
}

.form__field-group--bottom > .form__field {
  margin-bottom: 59.11px;
}

.form__field-group--bottom > .form__field > .form__label {
  margin-right: 9.4px;
}

.form__field-group--bottom > .form__field > .form__input {
  height: 27.36px;
}

.form__field--sku {
  width: fit-content;
}

.form__input--sku {
  min-width: 130.26px;
}

.form__input--price {
  min-width: 130.31px;
}

.form__input--stock {
  width: 55px;
}

.form__input--discounts {
  width: 55px;
}

.form__field--payment-methods {
  min-width: 450px;
  width: calc(450 / 827.63 * 100%);
  height: 44px;
  position: relative;
}

.form__select-wrapper {
  min-width: 346px;
  width: calc(346 / 450 * 100%);
  height: 100%;
  display: flex;
}

.form__select {
  appearance: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid rgba(48, 52, 63, 1);
  border-radius: 6px;
  padding: 10.08px 0 10.08px 15.59px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0em;
}

.form__option {
  color: rgba(31, 31, 31, 1);
}

.form__select-arrow--payment_methods {
  right: 16.8px;
  top: calc(
    50% - 10px / 2
  ); /* 50% (position) - 10px (element's total height) / 2 */
}

.form__field--images {
  min-width: 519.73px;
  width: calc(519.73 / 827.63 * 100%);
  height: 29px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.form__file-custom-wrapper {
  width: calc(386.76 / 519.73 * 100%);
  min-width: 386.76px;
  height: 25.29px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 4.52px;
  position: relative;
}

.form__file-custom-wrapper--justify-flex-start {
  justify-content: flex-start;
}

.form__input--button,
.form__input--file::file-selector-button {
  width: calc(125.24 / 386.76 * 100%);
  height: 25.29px;
  padding: 4.64px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid rgba(48, 52, 63, 0.7);
  background-color: rgba(217, 217, 217, 0.63);
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgba(31, 31, 31, 1);
  cursor: pointer;
  height: fit-content;
}

.form__input--text {
  height: 16px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-align: right;
  color: rgba(31, 31, 31, 1);
}

.form__input--file {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  opacity: 0;
}

.form__field--new-item,
.form__field--special-edition,
.form__field--favorites {
  height: 44px;
}

.form__select--new-item,
.form__select--special-edition,
.form__select--favorites {
  width: 200px;
}

.form__field--new-item {
  width: fit-content;
}

.form__label--new-item {
  min-width: 117.67px;
}

.form__field--special-edition {
  width: fit-content;
}

.form__label--special-edition {
  min-width: 241.68px;
}

.form__field--favorites {
  margin-bottom: 0 !important;
}

.form__field--favorites {
  width: fit-content;
}

.form__label--favorites {
  min-width: 137.87px;
}

.form__select-arrow--new-item,
.form__select-arrow--special-edition,
.form__select-arrow--favorites {
  right: 14.04px;
  top: calc(50% - 10px / 2);
}

.form__actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  height: 44.33px;
  gap: 34.14px;
  margin-bottom: 36px;
}

.form__button {
  width: 175px;
  height: 100%;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 51, 51, 1);
}

/*Breakpoints:

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 480px) {
    
}
*/

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .form {
    width: calc(827.63 / 1280 * 100%);
    min-width: 827.63px;
    margin-left: calc(115.55 / 1280 * 100%);
  }
}

@media screen and (max-width: 1024px) {
  .form__title {
    width: 100%;
    text-align: center;
    margin: 36px 0 39.58px;
  }

  .form {
    width: calc(827.63 / 1024 * 100%);
    margin: 0 calc(((1024 - 827.63) / 2) / 1024 * 100%);
  }

  .form__field-group {
    flex-flow: column nowrap;
    row-gap: 36px;
    height: fit-content;
  }

  .form__field--category,
  .form__field--license {
    min-width: 387.29px;
    align-items: baseline;
  }

  .form__field-group--bottom {
    row-gap: 0;
  }

  .form__field--price,
  .form__field--stock,
  .form__field--discounts {
    width: fit-content;
  }

  /*Font sizes*/
  .form__title {
    font-size: 40px;
  }

  .form__label--combobox {
    font-size: 22px;
  }

  .form__label {
    font-size: 22px;
  }

  .form__input {
    font-size: 16px;
  }

  .form__input::placeholder {
    font-size: 16px;
  }

  .form__textarea {
    font-size: 16px;
  }

  .form__textarea::placeholder {
    font-size: 16px;
  }

  .form__select {
    font-size: 18px;
  }

  .form__option--placeholder {
    font-size: 18px;
  }

  .form__option {
    font-size: 18px;
  }

  .form__button {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .form {
    width: calc(1208.9 / 1440 * 100%);
    margin: 0 calc(115.55 / 1440 * 100%);
  }

  .form__field--product-name,
  .form__field--payment-methods,
  .form__field--images,
  .form__field--special-edition {
    flex-direction: column;
    row-gap: 12px;
    height: fit-content;
    width: 100%;
    min-width: 100%;
    align-items: flex-start;
  }

  .form__select-wrapper {
    width: 346px;
  }

  .form__file-custom-wrapper {
    justify-content: flex-start;
  }

  .form__select-arrow--payment_methods {
    position: relative;
    top: calc((42.15px / 2) - 5px);
    right: 33px;
  }

  .form__select-arrow--special-edition {
    position: absolute;
    top: calc(12px + 22px + 17.74px);
    left: calc(200px - 10px - 17px);
  }

  .form__actions {
    justify-self: center;
  }
}

@media screen and (max-width: 480px) {
  .form__field--category,
  .form__field--license {
    flex-direction: column;
    row-gap: 12px;
    height: fit-content;
    width: 243.03px;
    min-width: 243.03px;
    align-items: flex-start;
  }

  .form__field--payment-methods {
    width: 346px;
    min-width: 346px;
  }

  .form__select-wrapper > .form__select {
    width: 100%;
  }

  .form__select-arrow--payment_methods {
    position: absolute;
    top: calc(20px + 12px + 16px);
    right: 18.63px;
  }

  .form__file-custom-wrapper {
    flex-direction: column;
    row-gap: 6px;
    height: fit-content;
    width: 100%;
    min-width: 100%;
    align-items: flex-start;
  }

  .form__field--new-item {
    flex-direction: column;
    row-gap: 12px;
    height: fit-content;
    align-items: flex-start;
  }

  .form__select-arrow--new-item,
  .form__select-arrow--favorites {
    top: calc(20px + 12px + 16px);
  }

  .form__select-arrow--special-edition {
    top: calc(20px + 12px + 16px);
    right: 0px;
  }

  .form__label--special-edition {
    text-align: left;
  }

  .form__field--favorites {
    flex-direction: column;
    row-gap: 12px;
    height: fit-content;
    align-items: flex-start;
  }

  /*Font sizes*/
  .form__title {
    font-size: 36px;
  }

  .form__label--combobox {
    font-size: 20px;
  }

  .form__label {
    font-size: 20px;
  }

  .form__input {
    font-size: 15px;
  }

  .form__input::placeholder {
    font-size: 15px;
  }

  .form__textarea {
    font-size: 15px;
  }

  .form__textarea::placeholder {
    font-size: 15px;
  }

  .form__select {
    font-size: 16px;
  }

  .form__option--placeholder {
    font-size: 16px;
  }

  .form__option {
    font-size: 16px;
  }

  .form__button {
    font-size: 14px;
  }
}
