.HomePage-carousel {
  /*Display stuff*/
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  /*Positioning stuff*/
  position: absolute;
  left: 7.638%;
  bottom: 0;
  /*Box model stuff*/
  width: 84.72%;
  height: 82.19%;
}

.ItemPage-carousel {
  /*Display stuff*/
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  /*Positioning stuff*/
  position: relative;
  left: 7.638%;
  bottom: 0;
  /*Box model stuff*/
  width: 84.72%;
  height: 82.19%;
}

.flex_justify_center {
  justify-content: center;
}

.flex_justify_spaceBetween {
  justify-content: space-between;
}

.previousButton,
.nextButton {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*Positioning stuff*/
  position: absolute;
  top: 35.78%; /**/
  z-index: 2;
  /*Box model stuff*/
  width: 35.33px;
  height: 35.55px;
  padding: 0;
  border: none;
  border-radius: 4px;
  background: #ffffff;
  /*Miscellaneous*/
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
}

.previousButton:disabled,
.nextButton:disabled {
  background-color: rgba(239, 239, 239, 0.3);
  box-shadow: none;
  border: 2px outset rgba(118, 118, 118, 0.3);
}

.previousButton {
  /*Positioning stuff*/
  left: 0;
}

.nextButton {
  /*Positioning stuff*/
  right: 0;
}

.previousButton__icon,
.nextButton__icon {
  /*Typography stuff*/
  color: #595959;
}

.previousButton:disabled > .previousButton__icon,
.nextButton:disabled > .nextButton__icon {
  /*Typography stuff*/
  color: rgba(16, 16, 16, 0.3);
}

/*Breakpoints:

@media screen and (min-width: 1025px) and  (max-width: 1280px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 480px) {
    
}
*/

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}
