.product-grid {
  width: calc(960.03 / 1086.96 * 100%);
  margin: calc(68 / 960.03 * 100%) 
          0 
          0 
          calc(14.96 / 960.03 * 100%);
  display: grid;
  grid-template-columns: repeat(auto-fit, 304px);
  justify-content: space-between;
  align-content: space-between;
  height: auto;
  row-gap: 36px;
}

.product-grid__item {
  width: 304px;
  height: 512px;
  text-decoration: none;
}

.product-grid__card {
  width: 100%;
  height: 100%;
}
/*Breakpoints:

@media screen and (min-width: 1281px) and (max-width: 1370px) {
    
}

@media screen and (max-width: 1280px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 480px) {
    
}
*/

@media screen and (min-width: 1281px) and (max-width: 1370px) {
    .product-grid {
      justify-content: space-evenly;
    }
}

@media screen and (max-width: 1280px) {
  .product-grid {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 1024px) {
    .product-grid {
      width: 100%;
      margin: 0;
    }
}