.product-grid-wrapper {
  display: inline-block;
  width: calc((2 / 3) * 100%);
  position: relative;
  left: 125px;
  top: 32px;
  margin-top: 0px;
}

.product-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 304px);
  justify-content: space-between;
  align-content: space-between;
  height: auto;
  row-gap: 36px;
}

.product-grid__item {
  width: 304px;
  height: 512px;
  text-decoration: none;
}

.product-grid__card {
  width: 100%;
  height: 100%;
}