.combo-box {
  width: calc(243.03 / 387.29 * 100%);
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.combo-box__input-wrapper {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
}

.combo-box__input {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: 2px solid rgba(48, 52, 63, 1);
  box-sizing: border-box;
  padding: 10.14px 0 10.14px 10.95px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0em;
  color: rgba(17, 17, 17, 1);
}

.combo-box__input::placeholder {
  color: rgba(185, 185, 185, 1);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0em;
}

.combo-box__arrow {
  position: absolute;
  cursor: pointer;
  right: 10.14px;
  top: calc(
    50% - 10px / 2
  ); /* 50% (position) - 10px (element's total height) / 2 */
}

.combo-box__list {
  width: 100%;
  z-index: 2;
  color: rgb(0, 0, 0);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0em;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  transform: none;
  flex-flow: column nowrap;
}

.combo-box__list--visible {
  display: inline-block;
}

.combo-box__list--hidden {
  display: none;
}

.combo-box__list-item {
  cursor: pointer;
  padding: 5.7px 0 5px 10.95px;
  transform: none !important;
  transition: none !important;
}

.combo-box__list-item:hover {
  background-color: rgb(25, 103, 210);
  color: #fff;
}

.combo-box__list-item:first-child:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.combo-box__list-item:last-child:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 1024px) {
  .combo-box__input {
    font-size: 18px;
  }

  .combo-box__input::placeholder {
    font-size: 18px;
  }

  .combo-box__list-item {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .combo-box__input {
    font-size: 16px;
  }

  .combo-box__input::placeholder {
    font-size: 16px;
  }

  .combo-box__list-item {
    font-size: 16px;
  }
}
