footer {
  background: #30343f;
  bottom: 0%;
  height: 343px;
  left: 0%;
  position: relative;
  width: 100%;
}

footer > div {
  height: 57.14%;
  margin: auto;
  position: relative;
  top: 36.15%;
  width: 84.72%;
}

footer > div > ul {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7.5px 0;
  height: auto;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 29.69px;
  width: auto;
}

footer > div > ul > li {
  list-style: none;
}

footer > div > ul > li > button, .navLink--footer {
  text-transform: uppercase;
  text-decoration: none;
}

footer > div > ul > li > button,
footer > div > p, .navLink--footer {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}

.logoLink--footer {
  position: absolute;
  right: 0;
  top: 0;
}

footer > div > p {
  bottom: 0;
  display: inline-block;
  left: 34%;
  position: absolute;
  text-align: center;
  width: 32%;
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  footer > div > ul > li > button,
  footer > div > p, 
  .navLink--footer {
    font-weight: 400;
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) {
  footer > div > ul > li > button,
  footer > div > p, 
  .navLink--footer {
    font-weight: 400;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  footer > div > ul > li > button,
  footer > div > p, 
  .navLink--footer {
    font-weight: 400;
    font-size: 14px;
  }

  footer > div > p {
    width: 60%;
    left: 20%;
  }
}

@media screen and (max-width: 480px) {
  footer > div > ul > li > button,
  footer > div > p, 
  .navLink--footer {
    font-weight: 400;
    font-size: 14px;
  }

  footer > div > p {
    width: 70%;
    left: 15%;
  }
}
