header {
  align-items: center;
  background-color: #30343f;
  display: flex;
  height: 144px; /*-----*/
  justify-content: center;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

header > div {
  display: flex;
  flex-direction: row;
  height: 65px; /*-----*/
  justify-content: space-between;
  margin: auto;
  width: 84.68%; /*-----*/
}

.logoLink--header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 372px; /*-----*/
}

.headerLogo {
  width: 80.24px; /*-----*/
  height: 65.19px; /*-----*/
}

.headerTitle {
  position: relative;
  width: 270.92px; /*-----*/
  height: 30.31px; /*-----*/
}

ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto; /*-----*/
  gap: 49px;
}

li {
  list-style: none;
}

li:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.navLink--header:hover {
  color: rgba(255, 51, 51, 1);
  transition: all 0.5s ease-in-out;
}

li > button,
li > a,
.navLink--header {
  background-color: #30343f;
  border: none;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 20px; /*-----*/
  font-style: normal;
  font-weight: 500; /*-----*/
  line-height: 23px; /*-----*/
  padding: 0;
  text-transform: uppercase;
  text-decoration: none;
}

.shopArrowDown {
  height: 11.59px; /*-----*/
  left: 5.66px; /*-----*/
  position: relative;
  width: 14px; /*-----*/
}

.cartIcon,
.cartIconWrapper {
  height: 31px; /*-----*/
  position: relative;
  display: inline-block;
  width: 33px; /*-----*/
}

.ellipseIconWrapper {
  height: 18px; /*-----*/
  position: absolute;
  right: -9px; /*-----*/ /*50% of width/height*/
  top: -4.5px; /*-----*/ /*25% of width/height*/
  width: 18px; /*-----*/
  z-index: 1;
}

.ellipseIcon {
  height: 18px; /*-----*/
  width: 18px; /*-----*/
}

.ellipseIconNumber {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 9px; /*-----*/
  font-style: normal;
  font-weight: 700; /*-----*/
  height: 18px; /*-----*/
  line-height: 18px; /*-----*/ /*100% of height*/
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 18px; /*-----*/
}

/*Breakpoints:

@media screen and (min-width: 1025px) and  (max-width: 1280px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 480px) {
    
}
*/

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  header {
    width: 100%;
  }

  ul {
    gap: calc(49px * 0.6);
  }

  li > button,
  li > .navLink--header {
    font-size: 18px;
    font-weight: 400;
  }
}

@media screen and (max-width: 1024px) {
  header {
    padding-top: 39px;
    padding-bottom: 39px;
  }

  header > div {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    height: 100%;
  }

  ul {
    gap: calc(49px * 1024 / 1440);
  }

  li > button,
  li > .navLink--header {
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: auto;
  }

  header > div {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 183px;
  }

  .logoLink--header {
    flex-direction: column;
  }

  .headerTitle {
    margin-top: 20.84px;
  }

  ul {
    gap: calc(49px * 768 / 1440);
  }

  li > button,
  li > .navLink--header {
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (max-width: 480px) {
  header {
    height: auto;
  }

  header > div {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 298.32px;
  }

  .logoLink--header {
    flex-direction: column;
  }

  .headerTitle {
    margin-top: 20.84px;
  }

  ul {
    flex-direction: column;
    width: 288.7px;
    height: 143px;
    gap: 7.5px;
  }

  li > button,
  li > .navLink--header {
    font-size: 14px;
    font-weight: 400;
  }
}
