.pagination {
  /*Positioning stuff*/
  position: relative;
  /*Box model stuff*/
  width: 460px;
  height: 44px;
  position: relative;
  margin: 68px 0;
  align-self: center;
}

.pagination__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

/*Breakpoints:

@media screen and (min-width: 1281px) and (max-width: 1370px) {
    
}

@media screen and (max-width: 1280px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 480px) {
    
}
*/

@media screen and (max-width: 1024px) {
  .pagination {
    margin: 68px auto;
  }
}

@media screen and (max-width: 480px) {
  .pagination,
  .pagination__list {
    height: 44px;
  }
}
